<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="email-input">E-MAIL</label>
            <input type="text" name="mail" class="form-control" id="email-input" placeholder="Nhap email... "> 
        </div>
        
        <div class="form-group">
            <label for="name-input">YOUR NAME</label>
            <input type="text" name="name" class="form-control" id="name-input" placeholder="Nhap ten... ">
        </div>

        <div class="form-group">
            <label for="username-input">USER NAME</label>
            <input type="text" name="username" class="form-control" id="username-input" placeholder="Nhap ten tai khoan... ">
        </div>

        <div class="form-group">
            <label for="password-input">PASSWORD</label>
            <input type="text" name="password" class="form-control" id="password-input" placeholder="Nhap mat khau... ">
        </div>

        <button type="submit" class="btn btn-primary">ENTER</button>
    </form>
</div>